* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #f5f7fa;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
	object-fit: cover;
}
img {
	display: block;
}
.main-container {
	display: flex;
}